.header {
    background-color: blue;
}
.intro {
    background-color: red;
}
.informtaion {
    background-color: yellow;
}
.testimonial {
    background-color: green;
}
.sign-up {
    background-color: brown;
}
.footer {
    background-color: pink;
}